.pagination
    .pagination__item
        img(src='img/arrowLeft.png', width="30px" height="30px" alt='Prev')
        .pagination__wrapper
            .pagination__label Back
            a(href='#') Home page
    .pagination__item
        .pagination__label Была ли статья полезной?
        button.pagination__dislike Нет
        button.pagination__like Да
    .pagination__item
        img(src='img/arrowRight.png', width="30px" height="30px" alt='Next')
        .pagination__wrapper
            .pagination__label Next
            a(href='#') How it works?
