.left-menu
    .input
        input(type="text", placeholder="Search", class="input__field")
    details
        summary Credits monitor
        p(href="#") How it work?
        p(href="#") Read use cases
    details
        summary Web wallet
        p(href="#") How it work?
        p(href="#") Read use cases
    details
        summary Node
        p(href="#") How it work?
        p(href="#") Read use cases
    details
        summary Security
        p(href="#") How it work?
        p(href="#") Read use cases
    details
        summary For developers
        p(href="#") How it work?
        p(href="#") Read use cases
    details
        summary Bug Bounty
        p(href="#") How it work?
        p(href="#") Read use cases
