.category{
    max-width: 300px;
}

.category__img{
    background: url("img/category.png") no-repeat center / 83px;
    width: 83px;
    margin-right: 20px;
}

.category__title{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category__link{
    margin-bottom: 10px;
    display: block;
}
