footer.footer
    .footer__wrapper
        .footer__col
            .footer__title Текст
            a.footer__link(href="#") Link
            a.footer__link(href="#") Link
        .footer__col
            .footer__title О Компании
            a.footer__link(href="#") Credits
            a.footer__link(href="#") Новости и публикации
            a.footer__link(href="#") Credits в соц сетях
        .footer__col
            .footer__title Поддержка
            a.footer__link(href="#") Link
            a.footer__link(href="#") Link
    
