@font-face {
    src: url("fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - Regular";
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat - Regular";
}
