header
    .header-top
        h3.header-title Support
        select.header-lang
            option(value='en') EN 
            option(value='ru') RU
    .header-bottom
        a.header-bottom-logo(href='#')
            img(width='21px', height='41px', src='img/logo.png', alt='')
            div credits
        nav.header-bottom-menu
            a(href='#') F.A.Q.
            a(href='#') Ask for Help
            a(href='#') Contact Us
            a(href='#') Documents
